<footer>
		<div class="footer-info">
			<div class="footer-info-col">
				<div class="footer-info-col-wrapper">
					<h3>THÔNG TIN LIÊN HỆ</h3>
					<p>
						<i class="fa fa-phone"></i> 123456789<br>
						<i class="fa fa-envelope"></i> <a href="#_">mymail@domain.com</a>
					</p>
					<p class="footer-info-col-wrapper-address">
						<i class="fa fa-map-marker"></i>
						<a href="https://goo.gl/maps/RtnzCzsV8PT2" target="blank">111 Hoàng Văn Thụ, Phan Đình Phùng, Thành phố Thái Nguyên, Thái Nguyên</a>
					</p>
				</div>
				<div class="footer-info-col-wrapper">
					<h3>NHẬN THÔNG TIN MỚI</h3>
					<div class="newsletter">
						<input type="text" placeholder="Nhập email của bạn">
						<button type="button"><i class="fa fa-envelope"></i></button>
					</div>
				</div>
			</div>
			<div class="footer-info-col">
				<h3>GIỚI THIỆU</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam eveniet molestiae quae in maxime blanditiis suscipit corrupti fugit unde consequuntur dolor quidem ullam, veniam laudantium magni corporis facere neque illum!</p>
			</div>
			<div class="footer-info-col footer-info-col-mid">
				<h3>HỖ TRỢ KHÁCH HÀNG</h3>
				<ul>
					<li>
						<i class="fa fa-angle-right"></i>
						<a href="#_">Bảo hành</a>
					</li>
					<li>
						<i class="fa fa-angle-right"></i>
						<a href="#_">Vận chuyển và giao nhận</a>
					</li>
					<li>
						<i class="fa fa-angle-right"></i>
						<a href="#_">Hướng dẫn đổi trả</a>
					</li>
					<li>
						<i class="fa fa-angle-right"></i>
						<a href="#_">Hướng dẫn thanh toán</a>
					</li>
					<li><i class="fa fa-angle-right"></i>
						<a href="#_">Kiểm tra đơn hàng</a>
					</li>
					<li>
						<i class="fa fa-angle-right"></i>
						<a href="#_">Điều khoản và điều kiện</a>
					</li>
				</ul>
			</div>
			<div class="footer-info-col footer-info-col-right">
				<h3>CHỨNG NHẬN</h3>
				<div></div>
			</div>
		</div>
		<div class="footer-link">
			<div class="footer-link-copyright">&copy; Bản quyền thuộc về Phạm Trung Kiên</div>
			<div class="footer-link-social">
				<a href="#_" id="social-1"></a>
				<a href="#_" id="social-2"></a>
				<a href="#_" id="social-3"></a>
			</div>
		</div>
	</footer>