<header>
	<div class="header-top">
		<ul>
			<li><a href="#_">Tải ứng dụng Watch Shop</a></li>
			<li><a href="#_">Liên hệ</a></li>
			<li class="sign-popup">Đăng nhập</li>
			<li class="sign-popup">Đăng kí</li>
		</ul>
	</div>
	<div class="header-bottom">
		<div class="header-bottom-logo"><h1><a href="<?= base_url('home'); ?>"></a></h1></div>
		<div class="header-bottom-nav">
			<ul class="header-menu">
				<li class="header-menu-item header-menu-item-parent">
					<a href="<?= base_url('home'); ?>" class="parent-link selected" data-href="home">trang chủ</a>
				</li>
				<li class="header-menu-item header-menu-item-parent">
					<a href="#_" class="parent-link" data-href="brands">thương hiệu</a>
					<div class="header-sub-menu header-sub-menu-1">
						<ul>
							<p>bán chạy</p>
							<li class="header-menu-item verticle">
								<i class="fa fa-angle-right"></i>
								<a href="#_">casio</a>
							</li>
							<li class="header-menu-item verticle">
								<i class="fa fa-angle-right"></i>
								<a href="#_">citizen</a>
							</li>
							<li class="header-menu-item verticle">
								<i class="fa fa-angle-right"></i>
								<a href="#_">seiko</a>
							</li>
							<li class="header-menu-item verticle">
								<i class="fa fa-angle-right"></i>
								<a href="#_">OP</a>
							</li>
							<li class="header-menu-item verticle">
								<i class="fa fa-angle-right"></i>
								<a href="#_">skagen</a>
							</li>
							<li class="header-menu-item verticle">
								<i class="fa fa-angle-right"></i>
								<a href="#_">daniel wellington (DW)</a>
							</li>
						</ul>
						<ul>
							<p>khuyên dùng</p>
							<li class="header-menu-item verticle">
								<i class="fa fa-angle-right"></i>
								<a href="#_">orient</a>
							</li>
							<li class="header-menu-item verticle">
								<i class="fa fa-angle-right"></i>
								<a href="#_">g-Shock &amp; baby-G</a>
							</li>
							<li class="header-menu-item verticle">
								<i class="fa fa-angle-right"></i>
								<a href="#_">candino</a>
							</li>
							<li class="header-menu-item verticle">
								<i class="fa fa-angle-right"></i>
								<a href="#_">michael kors</a>
							</li>
							<li class="header-menu-item verticle">
								<i class="fa fa-angle-right"></i>
								<a href="#_">fossil</a>
							</li>
						</ul>
						<ul>
							<p>đồng hồ thụy sĩ</p>
							<li class="header-menu-item verticle">
								<i class="fa fa-angle-right"></i>
								<a href="#_">doxa</a>
							</li>
							<li class="header-menu-item verticle">
								<i class="fa fa-angle-right"></i>
								<a href="#_">tissot</a>
							</li>
							<li class="header-menu-item verticle">
								<i class="fa fa-angle-right"></i>
								<a href="#_">longines</a>
							</li>
							<li class="header-menu-item verticle">
								<i class="fa fa-angle-right"></i>
								<a href="#_">movado</a>
							</li>
							<li class="header-menu-item verticle">
								<i class="fa fa-angle-right"></i>
								<a href="#_">sevenfriday</a>
							</li>
							<li class="header-menu-item verticle">
								<i class="fa fa-angle-right"></i>
								<a href="#_">frederique constant</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="header-menu-item header-menu-item-parent">
					<a href="#_" class="parent-link" data-href="products">kiểu đồng hồ</a>
					<ul class="header-sub-menu">
						<li class="header-menu-item verticle">
							<i class="fa fa-angle-right"></i>
							<a href="#_">đồng hồ nam</a>
						</li>
						<li class="header-menu-item verticle">
							<i class="fa fa-angle-right"></i>
							<a href="<?= base_url('products'); ?>">đồng hồ nữ</a>
						</li>
						<li class="header-menu-item verticle">
							<i class="fa fa-angle-right"></i>
							<a href="#_">đồng hồ đôi</a>
						</li>
						<li class="header-menu-item verticle">
							<i class="fa fa-angle-right"></i>
							<a href="#_" class=" item">đồng hồ thể thao</a>
						</li>
						<li class="header-menu-item verticle">
							<i class="fa fa-angle-right"></i>
							<a href="#_">đồng hồ thời trang</a>
						</li>
					</ul>
				</li>
				<li class="header-menu-item header-menu-item-parent">
					<a href="#_" class="parent-link" data-href="accessories">phụ kiện</a>
					<ul class="header-sub-menu header-sub-menu-3">
						<li class="header-menu-item verticle">
							<i class="fa fa-angle-right"></i>
							<a href="#_">pin</a>
						</li>
						<li class="header-menu-item verticle">
							<i class="fa fa-angle-right"></i>
							<a href="#_">dây đeo</a>
						</li>
						<li class="header-menu-item verticle">
							<i class="fa fa-angle-right"></i>
							<a href="#_">hộp đồng hồ</a>
						</li>
						<li class="header-menu-item verticle">
							<i class="fa fa-angle-right"></i>
							<a href="#_">túi dụng cụ</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</header>