<div class="sign">
	<div class="sign-wrapper">
		<form action="" class="form-signin" name="form-signin">
			<div class="form-signin-left">
				<p>ĐĂNG NHẬP</p>
				<input type="text" placeholder="Tên đăng nhập">
				<input type="password" placeholder="Mật khẩu">
				<div>
					<input type="checkbox" id="remember-pwd">
					<label for="remember-pwd" class="small-word">Nhớ mật khẩu</label>
					<a href="#_" class="small-word">Quên mật khẩu?</a>
				</div>
				<button type="button" id="btn-signin">Đăng nhập</button>
				<button type="button" class="btn-cancel">Hủy</button>
			</div>
			<div class="form-signin-right">
				<p>Chưa phải thành viên?</p>
				<button type="button">Đăng kí ngay</button>
				<p>hoặc</p>
				<button type="button">Đăng nhập bằng Facebook</button>
			</div>
		</form>
	</div>
	<div class="sign-wrapper">
		<form action="" class="form-signup" name="form-signup">
			<p>ĐĂNG KÍ</p>
			<div class="form-signup-left">
				<p>Thông tin cơ bản</p>
				<input type="text" placeholder="Họ tên (*)">
				<p>
					Giới tính:
					<input type="radio" name="sex" id="male">
					<label for="male">Nam</label>
					<input type="radio" name="sex" id="female">
					<label for="female">Nữ</label>
				</p>
				<input type="text" placeholder="Địa chỉ (*)">
				<input type="text" placeholder="Số điện thoại (*)">
				<input type="text" placeholder="Email">
			</div>
			<div class="form-signup-right">
				<p>Thông tin tài khoản</p>
				<input type="text" placeholder="Tên đăng nhập (*)">
				<input type="password" placeholder="Mật khẩu (*)">
				<p>
					<input type="checkbox">
					<label style="font-size: 14px">Tôi đã đọc và đồng ý với
						<br><a href="#_">điều khoản sử dụng</a></label>
				</p>
				<p style="font-size: 13px; font-weight: normal; margin: 10px 0">Lưu ý: (*) là các trường bắt buộc</p>
				<button type="button" id="btn-signup">Đăng kí</button>
				<button type="button" class="btn-cancel">Hủy</button>
			</div>
		</form>
	</div>
</div>